.DeviceIcon {
  /*position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  vertical-align: middle;*/
}

.small {
  composes: DeviceIcon;
  height: 50px;
  width: 50px;
}

.regular {
  composes: DeviceIcon;
  height: 100px;
  width: 100px;
}

.large {
  composes: DeviceIcon;
  height: 200px;
  width: 200px;
}
